<!-- Footer -->
      <footer class="bg-dark text-light py-4">
        <div class="container">
          <div class="row">
            <!-- Footer Links -->
            <div class="col-md-4 mb-4">
              <h5 class="text-uppercase">About Us</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum.</p>
            </div>

            <!-- Links -->
            <div class="col-md-4 mb-4">
              <h5 class="text-uppercase">Quick Links</h5>
              <ul class="list-unstyled">
                <li><a href="#" class="text-light">Home</a></li>
                <li><%= link_to "About", home_about_path, class:"text-light" %></li>
              </ul>
            </div>

            <!-- Social Media -->
            <div class="col-md-4 mb-4">
              <h5 class="text-uppercase">Follow Us</h5>
              <div>
                <a href="#" class="text-light mr-3"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="text-light mr-3"><i class="fab fa-twitter"></i></a>
                <a href="#" class="text-light mr-3"><i class="fab fa-instagram"></i></a>
                <a href="#" class="text-light"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>

          <hr class="bg-light">

          <!-- Copyright -->
          <div class="text-center">
            <p class="mb-0">&copy; 2024 Your Company. All rights reserved.</p>
          </div>
        </div>
      </footer>

