<% content_for :title, "New sale organization" %>

<h1>New sale organization</h1>

<%= render "form", sale_organization: @sale_organization %>

<br>

<div>
  <%= link_to "Back to sale organizations", sale_organizations_path %>
</div>
