/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Base styles for dark theme */
/* Base styles for improved readability */
.bg-light {
    background-color: #f8f9fa !important;
  }
  
  .text-dark {
    color: #212529 !important;
  }
  
  .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
  }
  
  .hide-section {
    transition: max-height 0.3s ease, padding 0.3s ease;
    overflow: hidden;
  }
  
  .collapsed {
    max-height: 0;
    padding: 0;
  }
  
  .show-more {
    max-height: 1000px; /* Ensure enough height to show content */
    padding: 1rem;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  


  /* Ensure the button is properly aligned with the text field */
.input-group {
    display: flex;
  }
  
  .input-group-text {
    cursor: pointer;
  }
  
  .btn-outline-secondary {
    border-color: #6c757d;
    color: #6c757d;
  }
  
  .btn-outline-secondary:hover {
    background-color: #e2e6ea;
    border-color: #6c757d;
  }
  
  
/* open block menu */

  .nav-block {
    position: relative;
    display: inline-block;
  }
  
  .additional-links {
    display: none;
    position: absolute;
    top: 100%; /* Відображення під основним блоком */
    left: 0;
    border: 1px solid #ccc; /* Додайте рамку для візуалізації (можете змінити) */
    padding: 5px;
    z-index: 1;
  }
  
  .nav-block:hover .additional-links {
    display: block; /* Показати при наведенні */
  }
  
  .nav-icon {
    display: inline-block;
    margin: 0 5px; /* Відстань між іконками */
    color: white; /* Колір іконок */
  }
  